@import url("./base.css");
@import url("./shared.css");

.form-container {
  margin: 8rem 0 4rem;
}

.form-heading {
  color: var(--lemon-green);
  font-family: var(--oswald-font);
  font-size: 3.2rem;
  text-align: center;
}

input:first-of-type {
  margin-top: 2.4rem;
}

input {
  width: 100%;
  display: block;
  margin-top: 1.6rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border: 2px solid #002333;
  font-family: var(--source-sans-pro);
  outline: none;
  position: relative;
  transition: border 300ms ease-in-out;
}

input::before {
  content: "hello";
  position: absolute;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2px solid var(--lemon-green);
}

input[type="submit"] {
  background-color: #002333;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 3.2rem;
  transition: color 300ms ease-in-out;
}

input[type="button"]:hover {
  color: #deefe7;
}

.password {
  width: 100%;
  position: relative;
}

.password-show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  cursor: pointer;
}

input::placeholder {
  color: rgba(0, 35, 51, 0.5);
}
.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.links a {
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-family: var(--source-sans-pro);
  font-weight: 600;
}

.links span {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-family: var(--source-sans-pro);
}

@media (min-width: 640px) {
  .form-container {
    width: 400px;
    margin-inline: auto;
    font-size: 1.8rem;
  }
}
