@import url("./base.css");
@import url("./shared.css");

.hero {
  margin-block: 5rem;
  background: #fff;
}

.hero .hero-image img {
  width: 100%;
}

.hero .heading {
  font-family: var(--oswald-font);
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 2.75rem;
  color: var(--dark-greenish-blue);
}

.hero .heading span {
  color: var(--lemon-green);
  font-size: 2.8rem;
  font-weight: 400;
}

.hero .body {
  font-family: var(--source-sans-pro);
  font-size: 1.6rem;
  margin-top: 2rem;
}

.hero .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.hero .links a {
  background: var(--dark-greenish-blue);
  font-family: var(--source-sans-pro);
  color: #fff;
  padding: 0.8rem 2.4rem;
  font-size: 1.6rem;
  text-decoration: none;
  width: fit-content;
}

.hero .links a:last-of-type {
  background: #fff;
  color: var(--dark-greenish-blue);
  font-weight: 700;
  border: 2.5px solid var(--dark-greenish-blue);
}

@media (min-width: 375px) {
  .hero .heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .hero .heading span {
    font-size: 3.6rem;
  }

  .hero .body {
    font-size: 1.8rem;
  }

  .hero .links {
    gap: 2rem;
    margin-top: 5.6rem;
  }

  .hero .links a {
    padding: 1.2rem 3.6rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 720px) {
  .hero {
    margin-block: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3.6rem;
  }

  .hero .hero-image {
    width: 50%;
  }

  .hero .heading {
    margin-top: unset;
  }

  .hero .text {
    width: 50%;
  }
}
