nav {
  background-color: #002333;
  color: #deefe7;
  font-family: var(--oswald-font);
  padding-block: 1.6rem;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
nav .logo img {
  width: 2.4rem;
  aspect-ratio: 1;
}

nav .logo span {
  font-size: 1.6rem;
}
