@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --source-sans-pro: "Source Sans Pro", sans-serif;
  --oswald-font: "Oswald", sans-serif;
  --lemon-green: #159a9c;
  --lemon-green-overlay: #159a9c0e;
  --dark-greenish-blue: #002333;
  --red: #ff0000;
}

a {
  text-decoration: unset;
  color: unset;
  font-family: var(--source-sans-pro);
}

p,
span,
th,
td,
a {
  font-family: var(--source-sans-pro);
  font-size: 1.6rem;
}

/* Shared styling */
.container {
  padding-inline: 1.6rem;
  max-width: 1536px;
  margin-inline: auto;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .container {
    padding-inline: 10rem;
  }
}
@media (min-width: 1600px) {
  .container {
    padding: unset;
  }
}

.go-back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  cursor: pointer;
  width: fit-content;
  padding: 0.8rem 0;
}
/*  */

/* Navigation */
nav {
  background-color: #002333;
  color: #deefe7;
  font-family: var(--oswald-font);
  padding-block: 1.6rem;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav .logo img {
  width: 2.4rem;
  aspect-ratio: 1;
}

nav .logo span {
  font-size: 1.6rem;
}

nav#dashboard .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#dashboard .nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav#dashboard .nav-right span {
  cursor: pointer;
  padding-inline: 1rem;
}

@media (min-width: 720px) {
  nav .logo img {
    width: 2.8rem;
  }

  nav .logo span {
    font-size: 2rem;
  }
}
/*  */

/* Landing page  */
.hero {
  margin-block: 5rem;
}

.hero-image > img {
  display: block;
  width: 100%;
}

.hero-heading {
  font-family: var(--oswald-font);
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 2.75rem;
  color: var(--dark-greenish-blue);
}

.hero-heading span {
  color: var(--lemon-green);
  font-size: 2.8rem;
  font-weight: 400;
}

.hero-body {
  font-family: var(--source-sans-pro);
  font-size: 1.6rem;
  margin-top: 2rem;
}

.hero-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.hero-links a {
  background: var(--dark-greenish-blue);
  font-family: var(--source-sans-pro);
  color: #fff;
  padding: 0.8rem 2.4rem;
  font-size: 1.6rem;
  text-decoration: none;
  width: fit-content;
}

.hero-links a:last-of-type {
  background: #fff;
  color: var(--dark-greenish-blue);
  font-weight: 700;
  border: 2.5px solid var(--dark-greenish-blue);
}

@media (min-width: 375px) {
  .hero-heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .hero-heading span {
    font-size: 3.6rem;
  }

  .hero-body {
    font-size: 1.8rem;
  }

  .hero-links {
    gap: 2rem;
    margin-top: 5.6rem;
  }

  .hero-links a {
    padding: 1.2rem 3.6rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 720px) {
  .hero {
    margin-block: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3.6rem;
  }

  .hero-heading {
    margin-top: unset;
  }
}
/*  */

.form-container {
  margin: 8rem 0 4rem;
}

.form-container#request-loan,
.form-container#create-loan-offer {
  margin: 0rem 0 4rem;
}
.form-container#post-repayment {
  margin: 0;
  width: 100%;
}
.form-container#request-loan input[type="submit"],
.form-container#create-loan-offer input[type="submit"],
.form-container#post-repayment input[type="submit"] {
  width: fit-content;
}

.form-heading {
  color: var(--lemon-green);
  font-family: var(--oswald-font);
  font-size: 3.2rem;
  text-align: center;
}

input:first-of-type {
  margin-top: 2.4rem;
}

.form-container textarea,
.form-container input,
.form-container select,
.form-container option {
  width: 100%;
  display: block;
  margin-top: 1.6rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border: 2px solid #002333;
  font-family: var(--source-sans-pro);
  outline: none;
  position: relative;
  transition: border 350ms ease-in-out;
}

input::before {
  content: "hello";
  position: absolute;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus,
.form-container select:focus,
.form-container textarea:focus {
  border: 2px solid var(--lemon-green);
}

.form-container input[type="submit"] {
  background-color: #002333;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 3.2rem;
  transition: color 300ms ease-in-out;
}

.password {
  width: 100%;
  position: relative;
}

.password-show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  cursor: pointer;
}

input::placeholder {
  color: rgba(0, 35, 51, 0.5);
}

.form-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.form-links a {
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-family: var(--source-sans-pro);
  font-weight: 600;
}

.form-links span {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-family: var(--source-sans-pro);
}

@media (min-width: 720px) {
  .form-container {
    width: 400px;
    margin-inline: auto;
    font-size: 1.8rem;
  }
}

.dashboard {
  margin-top: 3.2rem;
}

.dashboard .greeting {
  font-size: 2rem;
  font-family: var(--source-sans-pro);
}

.dashboard .greeting > span {
  font-weight: 700;
}

.dashboard .actions {
  display: flex;
  flex-direction: column;
  margin-block: 3.2rem;
  color: #fff;
  gap: 2rem;
}

.dashboard .actions > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.dashboard .actions p {
  font-size: 1.8rem;
  font-family: var(--source-sans-pro);
}

.dashboard .actions p:nth-of-type(2) {
  font-size: 2.8rem;
  font-weight: 700;
}

.dashboard .actions a {
  font-size: 1.8rem;
  font-family: var(--source-sans-pro);
}

.action {
  width: 100%;
  height: 250px;
}

.dashboard .request-loan,
.dashboard .loan-applications,
.dashboard .loan-offers {
  background-color: var(--lemon-green);
}

.dashboard .repayment,
.dashboard .loans,
.dashboard .users {
  background-color: var(--dark-greenish-blue);
}

.dashboard .title {
  font-family: var(--oswald-font);
  color: var(--lemon-green);
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}

.table-tabs {
  display: flex;
}

.table-tabs .tab {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  font-family: var(--source-sans-pro);
  border: 2px solid var(--dark-greenish-blue);
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: var(--dark-greenish-blue);
    color: #fff;
  }
}

.table-tabs .tab--active {
  background-color: var(--dark-greenish-blue);
  color: #fff;
}

.table-tabs .tab:first-child {
  border-right: 0;
}
.table-tabs .tab:last-child {
  border-left: 0;
}
.table-tabs .tab:nth-of-type(3) {
  border-left: 0;
}

.table-container {
  overflow: auto;
}

[data-to-display="user-loans"] table {
  min-width: 1000px;
}

[data-to-display="admin-loans"] table {
  min-width: 1400px;
}

.data table {
  width: 100%;
  border-collapse: collapse;
}

.data th,
.data td {
  font-size: 1.6rem;
  text-align: left;
  padding: 1.2rem;
}
.data tr,
.data th,
.data td {
  border: 2px solid #bfc8cc !important;
  cursor: auto;
}

.data tbody tr:nth-of-type(odd) {
  background-color: var(--lemon-green-overlay);
}

/* .data tr:hover {
  background-color: var(--lemon-green-overlay) !important;
  border: 2px solid #fff !important;
  transition: all 300ms ease-in-out;
} */
.table-pagination {
  /* visibility: hidden; */
  margin: 1.6rem 0 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.table-pagination button,
.table-pagination select {
  padding: 0.4rem 1.2rem;
  background-color: #fff;
  border: 2px solid var(--dark-greenish-blue);
}

.table-pagination .page-info {
  font-weight: 700;
}

.table-pagination .right,
.table-pagination .right span {
  display: flex;
  flex-wrap: wrap;
}
.table-pagination .right {
  gap: 2.5rem;
  margin-top: 1.2rem;
}
.table-pagination .right > span {
  gap: 1rem;
}

.table-pagination button,
.table-pagination select {
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .table-pagination {
    flex-direction: unset;
  }

  .table-pagination .right {
    margin-top: unset;
  }

  .dashboard .actions {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .action {
    width: 250px;
    height: 250px;
    flex-grow: 1;
  }
}

.modal {
  background-color: rgba(0, 35, 51, 0.3);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  padding: 0.8rem;
  overflow-y: auto;
}
.content {
  background-color: #fff;
  width: 350px;
}
.modal .header {
  padding: 1.6rem 2.4rem;
  font-family: var(--source-sans-pro);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .header .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
}
.modal .header .close {
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  cursor: pointer;
}
.modal .header h3 {
  font-size: 1.8rem;
  color: var(--lemon-green);
  font-weight: 600;
}

.modal .body {
  padding: 0 2.4rem 3.2rem;
}

.modal .icon {
  font-size: 4rem;
  /* text-align: center; */
  margin-bottom: 2rem;
}
.modal .message {
  font-size: 1.8rem;
  /* text-align: center; */
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.modal .username {
  margin-top: -1rem;
  font-weight: 700;
  font-size: 2rem;
  display: inline;
}

.modal .buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  width: fit-content;
}
.modal .buttons .button {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.modal .buttons .button--decline,
.modal .buttons .button--revert,
.modal .buttons .button--reject,
.modal .buttons .button--delete {
  background-color: var(--red);
  color: #fff;
}
.modal .buttons .button--verify,
.modal .buttons .button--approve {
  background-color: var(--lemon-green);
  color: #fff;
}

.modal .buttons .button--decline {
  background-color: var(--red);
  color: #fff;
}

@media screen and (max-width: 425px) {
  .modal {
    width: 100%;
  }
}

.admin-actions {
  display: flex;
  gap: 1rem;
}

.admin-actions .admin-action {
  padding: 0.4rem 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: none;
}
.admin-actions .accept,
.admin-actions .post-repayment {
  background-color: var(--lemon-green);
}
.admin-actions .decline {
  background-color: var(--red);
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: centers;
  height: fit-content;
  height: 100%;
  margin-bottom: 3.2rem;
}

.table-head input {
  margin-top: unset;
  height: 100%;
  padding: 0 1rem;
  border: none;
  outline: none;
}

.table-head .search {
  display: flex;
  align-items: center;
  border: 2px solid #bfc8cc;
  padding: 0 1rem;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 720px) {
  .table-head {
    flex-direction: column;
    gap: 2rem;
  }

  .table-head .search {
    height: 37px;
  }

  .table-head .search input {
    width: 100%;
  }
}

.logout {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 2rem;
}
