@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --source-sans-pro: "Source Sans Pro", sans-serif;
  --oswald-font: "Oswald", sans-serif;
  --lemon-green: #159a9c;
  --dark-greenish-blue: #002333;
}

nav {
  background-color: #002333;
  color: #deefe7;
  font-family: var(--oswald-font);
  padding-block: 1.6rem;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
nav .logo img {
  width: 2.4rem;
  aspect-ratio: 1;
}

nav .logo span {
  font-size: 1.6rem;
}

.container {
  padding-inline: 1.6rem;
  max-width: 1536px;
  margin-inline: auto;
}

.hero {
  margin-block: 5rem;
  background: #fff;
}

.hero .hero-image img {
  width: 100%;
}

.hero .heading {
  font-family: var(--oswald-font);
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 2.75rem;
  color: var(--dark-greenish-blue);
}

.hero .heading span {
  color: var(--lemon-green);
  font-size: 2.8rem;
  font-weight: 400;
}

.hero .body {
  font-family: var(--source-sans-pro);
  font-size: 1.6rem;
  margin-top: 2rem;
}

.hero .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.hero .links a {
  background: var(--dark-greenish-blue);
  font-family: var(--source-sans-pro);
  color: #fff;
  padding: 0.8rem 2.4rem;
  font-size: 1.6rem;
  text-decoration: none;
  width: fit-content;
}

.hero .links a:last-of-type {
  background: #fff;
  color: var(--dark-greenish-blue);
  font-weight: 700;
  border: 2.5px solid var(--dark-greenish-blue);
}

@media (min-width: 375px) {
  .hero .heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .hero .heading span {
    font-size: 3.6rem;
  }

  .hero .body {
    font-size: 1.8rem;
  }

  .hero .links {
    gap: 2rem;
    margin-top: 5.6rem;
  }

  .hero .links a {
    padding: 1.2rem 3.6rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 720px) {
  nav .logo img {
    width: 2.8rem;
  }

  nav .logo span {
    font-size: 2rem;
  }

  .container {
    padding-inline: 2.8rem;
  }

  .hero {
    margin-block: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3.6rem;
  }

  .hero .hero-image {
    width: 50%;
  }

  .hero .heading {
    margin-top: unset;
  }

  .hero .text {
    width: 50%;
  }
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .container {
    padding-inline: 10.8rem;
  }
}
